//main: main.scss
@media all and (orientation: landscape){
  body{
    font-size: 1vw;
    .about-me, .skills, .contact{
      @media (min-width: 800px){
        font-size: 130%;
      }
      @media (max-width: 799px){
        font-size: 150%;
      }
    }
    header{
      label{
        @media (min-width: 800px){
          font-size: 100%;
        }
        @media (max-width: 799px){
          font-size: 130%;
        }
      }
      nav{
        margin: auto 0 0 60%;
        @media (min-width: 800px){
          font-size: 90%;
        }
        @media (max-width: 799px){
          font-size: 130%;
        }
      }
    }
    .about-me{
      .data{
        .first-row{
          float: left;
          width: 60%;
          h3{
            width: 5vw;
            height: 5vw;
            margin: 1em;
            padding: 1em;
            .triangle{
              border-top: 2.5vw solid $blue;
              border-left: 5vw solid $blue;
              border-right: 5vw solid transparent;
              border-bottom: 2.5vw solid transparent;
            }
          }
          h4{
            width: 50%;
            margin: 2em 20% 2em 20%;
          }
        }
        .second-row{
          float: right;
          width: 35%;
        }

      }
    }
    .skills{
      .data{
        .first-row{
          width: 40%;
          margin: auto;
        }
        div.hard{
          width: 80%;
          margin: auto;
        }
        .third-row{
          .learn{
            width: 50%;
            margin: 1em auto 2em;
          }
        }
      }
    }
    .jobs{
      .carr{
        article{
          width: 23vw;
          margin: .5vw .5vw;
          p{
            font-size: 100%;
          }
        }
      }
    }
    .contact{
      display: none;
      .data{
        width: 100%;
        .row-first, .row-second{
          width: 50%;
        }
        .row-first{
          float: left;
        }
        .row-second{
          float: right;
        }
      }
    }
  }
}
