//main: main.scss

body{
  font-family: Arial;
  font-size: 3.5vw;
  header{
    h2{
      text-align: center;
    }
    nav{
      label{
        font-weight: bold;
        font-size: 120%;
      }
    }
  }
  .veil{
    font-size: 140%;
  }
  .about-me{
    .data{
      font-size: 130%;
      p{
        font-size: 100%;
      }
    }
  }
  .skills{
    .data{
      h4{
        text-align: center;
        font-size:140%;
      }
      div.soft{
        .row-1, .row-2{
          article{
            h5{
              font-size: 120%;
            }
          }
        }
      }
      div.hard{
        article{
          h5{
            font-size: 140%;
          }
          p{
            font-size: 120%;
            font-weight: bold;
            color: lighten(black, 25%);
          }
        }
      }
    }
  }
  .jobs{
    .carr-container{
      .carr{
        article{
          h5{
            font-size: 150%;
          }
          img{
          }
          p{
            font-size: 125%;
            font-weight: bold;
          }
          nav{}
        }
      }
    }
  }
  .contact{
    .data{
      article{
        .git, .mail, .linked, .cv{
          a{
            text-decoration: none;
            p{
              font-size: 125%;
              font-weight: bold;
            }
          }
        }
        .mail, .cv{
          p{
            text-align: center;
          }
        }
      }
    }
  }
}
