@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-clip: border-box;
}
@import 'fonts.scss';
@import 'backs.scss';
@import 'anims.scss';
@import 'mobilefirst.scss';

@media all and (orientation: portrait) and (min-width: 430px){
  body{
    font-size: 2.5vw;
  }
}
@media all and (orientation: portrait) and (min-width: 750px){
  body{
    header{
      nav{
        font-size: 90%;
      }
    }
  }
}

@import 'desktop.scss';

///new
body{
  header{
    h2{
      font-family: 'Reggae One', cursive;
    }
  }
}
