* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-clip: border-box;
}

body {
  font-family: Arial;
  font-size: 3.5vw;
}

body header h2 {
  text-align: center;
}

body header nav label {
  font-weight: bold;
  font-size: 120%;
}

body .veil {
  font-size: 140%;
}

body .about-me .data {
  font-size: 130%;
}

body .about-me .data p {
  font-size: 100%;
}

body .skills .data h4 {
  text-align: center;
  font-size: 140%;
}

body .skills .data div.soft .row-1 article h5, body .skills .data div.soft .row-2 article h5 {
  font-size: 120%;
}

body .skills .data div.hard article h5 {
  font-size: 140%;
}

body .skills .data div.hard article p {
  font-size: 120%;
  font-weight: bold;
  color: #404040;
}

body .jobs .carr-container .carr article h5 {
  font-size: 150%;
}

body .jobs .carr-container .carr article p {
  font-size: 125%;
  font-weight: bold;
}

body .contact .data article .git a, body .contact .data article .mail a, body .contact .data article .linked a, body .contact .data article .cv a {
  text-decoration: none;
}

body .contact .data article .git a p, body .contact .data article .mail a p, body .contact .data article .linked a p, body .contact .data article .cv a p {
  font-size: 125%;
  font-weight: bold;
}

body .contact .data article .mail p, body .contact .data article .cv p {
  text-align: center;
}

body .enable {
  opacity: 1;
}

body .disable {
  opacity: 0.5;
}

body .disable:hover {
  cursor: default;
}

body #about-radio:checked ~ header h2 {
  color: #384685;
}

body #about-radio:checked ~ header nav > label#about {
  background-color: #1a203d;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

body #about-radio:checked ~ header nav > label#about:hover {
  color: black;
  background-color: #7785c6;
}

body #skills-radio:checked ~ header h2 {
  color: #4b9149;
}

body #skills-radio:checked ~ header nav > label {
  background-color: #4b9149;
}

body #skills-radio:checked ~ header nav > label:hover {
  background-color: #93c892;
}

body #skills-radio:checked ~ header nav > label#skills {
  background-color: #1f3c1e;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

body #skills-radio:checked ~ header nav > label#skills:hover {
  color: black;
  background-color: #93c892;
}

body #jobs-radio:checked ~ header h2 {
  color: #944040;
}

body #jobs-radio:checked ~ header nav > label {
  background-color: #944040;
}

body #jobs-radio:checked ~ header nav > label:hover {
  background-color: #cc8888;
}

body #jobs-radio:checked ~ header nav > label#jobs {
  background-color: #3b1a1a;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

body #jobs-radio:checked ~ header nav > label#jobs:hover {
  color: black;
  background-color: #cc8888;
}

body #contact-radio:checked ~ header h2 {
  color: #7e8784;
}

body #contact-radio:checked ~ header nav > label {
  background-color: #7e8784;
}

body #contact-radio:checked ~ header nav > label:hover {
  background-color: #c0c4c3;
}

body #contact-radio:checked ~ header nav > label#contact {
  background-color: #404544;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

body #contact-radio:checked ~ header nav > label#contact:hover {
  color: black;
  background-color: #c0c4c3;
}

body header {
  background-color: #0d0d0d;
}

body header nav label {
  color: white;
  background-color: #384685;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

body header nav label:hover {
  color: black;
  background-color: #7785c6;
}

body .about-me .veil {
  background-color: #384685;
  color: white;
}

body .skills {
  display: none;
  width: 100%;
}

body .skills .veil {
  background-color: #4b9149;
  color: white;
}

body .skills .data h4 {
  color: #315e2f;
}

body .skills .data div.soft .row-1, body .skills .data div.soft .row-2 {
  border-left: solid 2px #4b9149;
}

body .skills .data div.hard {
  border-left: 2px solid #4b9149;
  border-top: 2px solid #4b9149;
}

body .skills .data div.hard article {
  background-color: #93c892;
  border-radius: 4px;
}

body .skills .data div.hard article h5 {
  color: #284d27;
}

body .jobs .veil {
  background-color: #944040;
  color: white;
}

body .jobs .carr-container .left-arrow {
  border-left: 0 solid transparent;
  border-right: 2em solid #944040;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
}

body .jobs .carr-container .left-arrow:hover {
  cursor: pointer;
  border-right: 2em solid #bc6464;
}

body .jobs .carr-container .left-arrow:active {
  border-right: 2em solid #5f2929;
}

body .jobs .carr-container .right-arrow {
  border-left: 2em solid #944040;
  border-right: 0 solid transparent;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
}

body .jobs .carr-container .right-arrow:hover {
  cursor: pointer;
  border-left: 2em solid #bc6464;
}

body .jobs .carr-container .right-arrow:active {
  border-left: 2em solid #5f2929;
}

body .jobs .carr-container .carr article {
  background-color: silver;
  border-radius: 4px;
}

body .jobs .carr-container .carr article h5 {
  color: #3b1a1a;
}

body .jobs .carr-container .carr article p {
  color: #404040;
}

body .jobs .carr-container .carr article nav .git-link, body .jobs .carr-container .carr article nav .web-link {
  background-repeat: no-repeat;
  background-size: cover;
}

body .jobs .carr-container .carr article nav .git-link {
  background-image: url("../rsc/github-icon.png");
}

body .jobs .carr-container .carr article nav .web-link {
  background-image: url("../rsc/url-icon.png");
}

body .contact .veil {
  background-color: #7e8784;
}

body .contact .veil h1 {
  color: white;
}

body .contact .data article .git a .icon-git, body .contact .data article .mail a .icon-git, body .contact .data article .linked a .icon-git, body .contact .data article .cv a .icon-git {
  background-image: url("../rsc/github-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body .contact .data article .git a .icon-gmail, body .contact .data article .mail a .icon-gmail, body .contact .data article .linked a .icon-gmail, body .contact .data article .cv a .icon-gmail {
  background-image: url("../rsc/gmail-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body .contact .data article .git a .icon-linked, body .contact .data article .mail a .icon-linked, body .contact .data article .linked a .icon-linked, body .contact .data article .cv a .icon-linked {
  background-image: url("../rsc/linked-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body .contact .data article .git a .icon-cv, body .contact .data article .mail a .icon-cv, body .contact .data article .linked a .icon-cv, body .contact .data article .cv a .icon-cv {
  background-image: url("../rsc/cv-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body .contact .data article .linked {
  background-color: #bfc5e4;
  border: 1px solid #384685;
  border-radius: 8px;
}

body .contact .data article .linked .img {
  background-image: url("https://media-exp1.licdn.com/dms/image/C4E35AQFUFDVVcpcp-w/profile-framedphoto-shrink_200_200/0/1611269331748?e=1613466000&v=beta&t=UjKD2wj2DwCmqHpqlIYHdYHQ9sukMb1aJl2KJaTbBNM");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

body .contact .data article .linked p {
  color: #12172b;
}

body .contact .data article .git {
  background-color: #dadddc;
  border: 1px solid #7e8784;
  border-radius: 8px;
}

body .contact .data article .git .img {
  background-image: url("https://avatars.githubusercontent.com/u/74751311?s=460&u=f3139edee015cf03fc511999a8aac0089180b3df&v=4");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

body .contact .data article .git p {
  color: #404544;
}

body .contact .data article .mail {
  background-color: #dbacac;
  border: 1px solid #944040;
  border-radius: 8px;
}

body .contact .data article .mail p {
  color: #3b1a1a;
}

body .contact .data article .cv {
  background-color: #b5d9b4;
  border: 1px solid #4b9149;
  border-radius: 8px;
}

body .contact .data article .cv p {
  color: #1f3c1e;
}

body .veil {
  animation-duration: 2s;
  animation-name: slideup;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  height: 90vh;
}

@keyframes slideup {
  from {
    height: 90vh;
  }
  to {
    height: 10vh;
  }
}

body .about-me, body .skills, body .jobs, body .contact {
  max-height: 90vh;
  animation-duration: 2s;
  animation-name: expandsection;
  animation-fill-mode: forwards;
}

body .about-me {
  animation-delay: 3s;
}

body .skills {
  animation-delay: 4s;
}

body .jobs {
  animation-delay: 1s;
}

@keyframes expandsection {
  from {
    max-height: 90vh;
  }
  to {
    max-height: 200vh;
  }
}

body .about-me .triangle {
  border-top: 0vw solid #384685;
  border-left: 0vw solid #384685;
  border-right: 0vw solid transparent;
  border-bottom: 0vw solid transparent;
  animation-duration: 2s;
  animation-name: trianglefade;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes trianglefade {
  from {
    border-top: 0vw solid #384685;
    border-left: 0vw solid #384685;
    border-right: 0vw solid transparent;
    border-bottom: 0vw solid transparent;
  }
  to {
    border-top: 10vw solid #384685;
    border-left: 10vw solid #384685;
    border-right: 10vw solid transparent;
    border-bottom: 10vw solid transparent;
  }
}

body .about-me h4 {
  opacity: 0;
  animation-duration: 2s;
  animation-name: fadein;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .about-me p {
  margin-top: 110vh;
  animation-duration: 2s;
  animation-name: uptext;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes uptext {
  from {
    margin-top: 110vh;
  }
  to {
    margin-top: 5vh;
  }
}

body .skills .data h4.first, body .skills .data h4.second {
  animation-name: skillsheaders;
  animation-fill-mode: forwards;
  margin-top: 110vh;
}

body .skills .data h4.first {
  animation-delay: 1s;
  animation-duration: 1.5s;
}

body .skills .data h4.second {
  animation-delay: 2s;
  animation-duration: 2s;
}

@keyframes skillsheaders {
  from {
    margin-top: 110vh;
  }
  to {
    margin-top: 0;
  }
}

body .skills .data div.hard {
  padding-top: 0;
  height: 1px;
  animation-duration: 2.5s;
  animation-name: apearsborder;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes apearsborder {
  0% {
    padding-top: 0;
    height: 1px;
  }
  75% {
    padding-top: .5em;
    height: 55vh;
  }
  100% {
    height: auto;
  }
}

body .skills .data div.hard article {
  bottom: -100vh;
  position: relative;
  animation-duration: .8s;
  animation-name: uptechs;
  animation-fill-mode: forwards;
}

body .skills .data div.hard article.first {
  animation-delay: 3s;
}

body .skills .data div.hard article.second {
  animation-delay: 3.4s;
}

body .skills .data div.hard article.third {
  animation-delay: 3.8s;
}

body .skills .data div.hard article.elcuarto {
  animation-delay: 4.2s;
}

body .skills .data div.hard article.fifth {
  animation-delay: 4.6s;
}

@keyframes uptechs {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 0;
  }
}

body .jobs .carr-container {
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (orientation: portrait) {
  body .contact .data article .linked {
    left: -150%;
    animation-duration: 1s;
    animation-name: fromleft;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  body .contact .data article .git {
    right: -150%;
    animation-duration: 1s;
    animation-name: fromright;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }
  body .contact .data article .mail {
    left: -150%;
    animation-duration: 1s;
    animation-name: fromleft;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  body .contact .data article .cv {
    right: -150%;
    animation-duration: 1s;
    animation-name: fromright;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
  }
  @keyframes fromleft {
    from {
      left: -150%;
    }
    to {
      left: 0;
    }
  }
  @keyframes fromright {
    from {
      right: -150%;
    }
    to {
      right: 0;
    }
  }
}

body {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  position: relative;
}

body header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body header h2 {
  padding: 0.2em 1em;
  transition: all 1s;
}

body header nav {
  display: flex;
  justify-content: space-around;
}

body header nav label {
  padding: .5em;
  transition: all 1s;
}

body .menu-inputs {
  display: none;
}

body #about-radio:checked ~ section.about-me {
  display: block;
}

body #about-radio:checked ~ section.skills, body #about-radio:checked section.jobs, body #about-radio:checked section.contact {
  display: none;
}

body #skills-radio:checked ~ section.skills {
  display: block;
}

body #skills-radio:checked ~ section.about-me, body #skills-radio:checked section.jobs, body #skills-radio:checked section.contact {
  display: none;
}

body #jobs-radio:checked ~ section.jobs {
  display: block;
}

body #jobs-radio:checked ~ section.about-me, body #jobs-radio:checked section.skills, body #jobs-radio:checked section.contact {
  display: none;
}

body #contact-radio:checked ~ section.contact {
  display: block;
}

body #contact-radio:checked ~ section.about-me, body #contact-radio:checked section.skills, body #contact-radio:checked section.jobs {
  display: none;
}

body .veil {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 10;
}

body .veil h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 15;
}

body .about-me, body .skills, body .jobs, body .contact {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 90vh;
}

body .about-me .data, body .skills .data, body .jobs .data, body .contact .data {
  padding-top: 10vh;
}

body .about-me {
  display: block;
}

body .about-me .data {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body .about-me .data h3 {
  width: 10vw;
  height: 10vw;
  margin: 1em;
  padding: 1em;
}

body .about-me .data h4 {
  background-color: #d9d9d9;
  width: 75%;
  margin: 2em 5% 0.5em 20%;
  padding: .5em;
}

body .about-me .data p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body .skills {
  display: none;
  width: 100%;
}

body .skills .data {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

body .skills .data h4 {
  padding: .5em;
}

body .skills .data div.soft .row-1, body .skills .data div.soft .row-2 {
  width: 50%;
  padding: 1em;
  padding-top: 0;
}

body .skills .data div.soft .row-1 {
  float: left;
}

body .skills .data div.soft .row-2 {
  float: right;
}

body .skills .data div.hard {
  padding: .5em;
}

body .skills .data div.hard article {
  padding: .5em;
  padding-top: 0;
  margin-bottom: .5em;
}

body .jobs {
  display: none;
}

body .jobs .carr-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

body .jobs .carr-container .left-arrow, body .jobs .carr-container .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

body .jobs .carr-container .right-arrow {
  right: 0;
}

body .jobs .carr-container .carr {
  display: flex;
  transition: all 1s;
}

body .jobs .carr-container .carr article {
  width: 90vw;
  height: 150vw;
  padding: 1em;
  margin: 1vh 5vw 1vh;
}

body .jobs .carr-container .carr article h5 {
  height: 5%;
}

body .jobs .carr-container .carr article img {
  width: 95%;
  margin: 0 auto;
  height: 75%;
}

body .jobs .carr-container .carr article p {
  height: 10%;
}

body .jobs .carr-container .carr article nav {
  height: 10%;
}

body .jobs .carr-container .carr article nav .git-link, body .jobs .carr-container .carr article nav .web-link {
  display: inline-block;
  width: 3em;
  height: 3em;
}

body .jobs .carr-container .carr article nav .git-link {
  float: left;
}

body .jobs .carr-container .carr article nav .web-link {
  float: right;
}

body .contact {
  display: none;
}

body .contact .data {
  width: 100%;
}

body .contact .data .row-first, body .contact .data .row-second {
  width: 100%;
  float: none;
}

body .contact .data .row-first article, body .contact .data .row-second article {
  width: 80%;
  margin: 2vw auto;
}

body .contact .data .row-first article .git, body .contact .data .row-first article .mail, body .contact .data .row-first article .linked, body .contact .data .row-first article .cv, body .contact .data .row-second article .git, body .contact .data .row-second article .mail, body .contact .data .row-second article .linked, body .contact .data .row-second article .cv {
  position: relative;
  width: 100%;
  padding: 1em;
}

body .contact .data .row-first article .git a .icon-git, body .contact .data .row-first article .git a .icon-gmail, body .contact .data .row-first article .git a .icon-linked, body .contact .data .row-first article .git a .icon-cv, body .contact .data .row-first article .mail a .icon-git, body .contact .data .row-first article .mail a .icon-gmail, body .contact .data .row-first article .mail a .icon-linked, body .contact .data .row-first article .mail a .icon-cv, body .contact .data .row-first article .linked a .icon-git, body .contact .data .row-first article .linked a .icon-gmail, body .contact .data .row-first article .linked a .icon-linked, body .contact .data .row-first article .linked a .icon-cv, body .contact .data .row-first article .cv a .icon-git, body .contact .data .row-first article .cv a .icon-gmail, body .contact .data .row-first article .cv a .icon-linked, body .contact .data .row-first article .cv a .icon-cv, body .contact .data .row-second article .git a .icon-git, body .contact .data .row-second article .git a .icon-gmail, body .contact .data .row-second article .git a .icon-linked, body .contact .data .row-second article .git a .icon-cv, body .contact .data .row-second article .mail a .icon-git, body .contact .data .row-second article .mail a .icon-gmail, body .contact .data .row-second article .mail a .icon-linked, body .contact .data .row-second article .mail a .icon-cv, body .contact .data .row-second article .linked a .icon-git, body .contact .data .row-second article .linked a .icon-gmail, body .contact .data .row-second article .linked a .icon-linked, body .contact .data .row-second article .linked a .icon-cv, body .contact .data .row-second article .cv a .icon-git, body .contact .data .row-second article .cv a .icon-gmail, body .contact .data .row-second article .cv a .icon-linked, body .contact .data .row-second article .cv a .icon-cv {
  position: absolute;
  left: calc(50% - 1.5em);
  top: .5em;
  width: 3em;
  height: 3em;
}

body .contact .data .row-first article .git a .img, body .contact .data .row-first article .mail a .img, body .contact .data .row-first article .linked a .img, body .contact .data .row-first article .cv a .img, body .contact .data .row-second article .git a .img, body .contact .data .row-second article .mail a .img, body .contact .data .row-second article .linked a .img, body .contact .data .row-second article .cv a .img {
  display: inline-block;
  width: 5em;
  height: 5em;
}

body .contact .data .row-first article .git p, body .contact .data .row-first article .linked p, body .contact .data .row-second article .git p, body .contact .data .row-second article .linked p {
  margin-top: 3em;
  display: inline-block;
}

body .contact .data .row-first article .mail p, body .contact .data .row-first article .cv p, body .contact .data .row-second article .mail p, body .contact .data .row-second article .cv p {
  margin-top: 3em;
  display: block;
}

@media all and (orientation: portrait) and (min-width: 430px) {
  body {
    font-size: 2.5vw;
  }
}

@media all and (orientation: portrait) and (min-width: 750px) {
  body {
    font-size: 3vw;
  }
  body .skills .data .hard {
    font-size: 90%;
  }
}

@media all and (orientation: landscape) {
  body {
    font-size: 1.3vw;
  }
  body header {
    width: 100%;
    height: 10vh;
    flex-direction: row;
    padding-top: 2vh;
  }
  body header h2 {
    padding: 0.2em 1em;
    transition: all 1s;
  }
  body header nav {
    display: flex;
    justify-content: space-between;
    min-width: 30vw;
  }
  body header nav label {
    padding: .5em;
    transition: all 1s;
  }
  body .about-me .data h3 {
    height: 1vw;
    width: 1vw;
  }
  body .about-me .data h3 .triangle {
    border-top: 0vw solid #384685;
    border-left: 0vw solid #384685;
    border-right: 0vw solid transparent;
    border-bottom: 0vw solid transparent;
    animation-duration: 2s;
    animation-name: trianglefade;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  @keyframes trianglefade {
    from {
      border-top: 0vw solid #384685;
      border-left: 0vw solid #384685;
      border-right: 0vw solid transparent;
      border-bottom: 0vw solid transparent;
    }
    to {
      border-top: 5vw solid #384685;
      border-left: 5vw solid #384685;
      border-right: 5vw solid transparent;
      border-bottom: 5vw solid transparent;
    }
  }
  body .about-me .data h4 {
    margin: 2em 5% 0.5em 15%;
  }
  body .skills {
    display: none;
    width: 100%;
  }
  body .skills .data {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
  }
  body .skills .data .first-row, body .skills .data .second-row {
    float: left;
  }
  body .skills .data .first-row h4, body .skills .data .second-row h4 {
    text-align: left;
  }
  body .skills .data .first-row {
    width: 30%;
  }
  body .skills .data .first-row .soft .row-1, body .skills .data .first-row .soft .row-2 {
    float: none;
    width: 100%;
    padding-bottom: 0;
  }
  body .skills .data .second-row {
    width: 70%;
  }
  body .jobs .carr-container {
    width: 100%;
  }
  body .jobs .carr-container .left-arrow, body .jobs .carr-container .right-arrow {
    display: none;
  }
  body .jobs .carr-container .carr {
    font-size: 70%;
  }
  body .jobs .carr-container .carr article {
    padding: 1em;
    margin: 1vh 1vw 1vh;
    height: 37.5vw;
  }
  body .jobs .carr-container .carr article p {
    font-size: 100%;
  }
  body .contact {
    display: none;
  }
  body .contact .data {
    width: 100%;
  }
  body .contact .data .row-first, body .contact .data .row-second {
    width: 50%;
  }
  body .contact .data .row-first article, body .contact .data .row-second article {
    width: 80%;
    margin: 3vw auto;
  }
  body .contact .data .row-first {
    float: left;
  }
  body .contact .data .row-second {
    float: right;
  }
}
